pkgbase = astrobox-ng
	pkgdesc = AstroBox is a leading tool for managing and extending wearable devices
	pkgver = 2.0.1
	pkgrel = 1
	url = https://github.com/AstralSightStudios/AstroBox-NG
	arch = x86_64
	license = AGPL-3.0
	makedepends = curl
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = libx11
	depends = gcc-libs
	depends = glibc
	depends = zlib
	depends = bzip2
	depends = libxcb
	depends = libxkbcommon
	depends = dbus
	depends = libsecret
	depends = libsoup3
	depends = gstreamer
	depends = gst-plugins-base
	depends = libepoxy
	depends = atk
	depends = at-spi2-core
	depends = cairo
	depends = pango
	depends = gdk-pixbuf2
	depends = harfbuzz
	depends = hicolor-icon-theme
	depends = desktop-file-utils
	depends = shared-mime-info
	options = !debug
	source = https://github.com/AstralSightStudios/AstroBox-NG/releases/download/v2.0.1/AstroBox_2.0.1_x86_64.pkg.tar.zst
	sha256sums = 0a7a9f9d81c6bd2ccf209690bbf03be4cc5c6b2530844b2615290a62cd9c90f2

pkgname = astrobox-ng
